<p class="section">Housing</p>
<h1>Members activity and interests</h1>
<div class="">
	<p class="lede">6 MPs or Lords have listed 'housing' as an interest in their biography:</p>
	<div class="results-interests">
		<ul class="two-column">
			<li><a href="#" >Name</a></li>
			<li><a href="#" >Name</a></li>
			<li><a href="#" >Name</a></li>
			<li><a href="#" >Name</a></li>
			<li><a href="#" >Name</a></li>
			<li><a href="#" >Name</a></li>
		</ul>
	</div>
</div>

<div class="results-members">
	<form class="results-filters form-group">
		<h2 class="results-filters__group-title">Filters</h2>
		<h3 class="results-filters__title">House:</h3>
		<div class="two-column">
			<div class="form-group-checkbox">
				<input type="checkbox" name="Lords" checked="checked">
				<label for="Lords" >Lords</label>
			</div>
			<div class="form-group-checkbox">
				<input type="checkbox" name="MPs" checked="checked">
				<label for="MPs" >MPs</label>
			</div>
		</div>
		<h3 class="results-filters__title">Contribution type:</h3>
		<div class="two-column">
			<div class="form-group-checkbox">
				<input type="checkbox" name="commitee" checked="checked">
				<label for="commitee">Member of a committee</label>
			</div>
			<div class="form-group-checkbox">
				<input type="checkbox" name="bill" checked="checked">
				<label for="bill">Private members' bill</label>
			</div>
			<div class="form-group-checkbox">
				<input type="checkbox" name="oral" checked="checked">
				<label for="oral">Oral questions</label>
			</div>
			<div class="form-group-checkbox">
				<input type="checkbox" name="written" checked="checked">
				<label for="written">Written questions</label>
			</div>
			<div class="form-group-checkbox">
				<input type="checkbox" name="debate" checked="checked">
				<label for="debate">Spoken in a debate</label>
			</div>
			<div class="form-group-checkbox">
				<input type="checkbox" name="edm" checked="checked">
				<label for="EDM">EDMs</label>
			</div>
		</div>
		<h3 class="results-filters__title">Time:</h3>
		<div>
			<label for="time" class="visually-hidden">Time:</label>
			<select name="time" >
				<option value="Past week">Past week</option>
				<option value="Past month">Past month</option>
				<option value="Past 6 months">Past 6 months</option>
				<option value="Past year" selected="selected">Past year</option>
				<option value="Past 2 years">Past 2 years</option>
				<option value="Past 5 years">Past 5 years</option>
				<option value="Past 10 years">Past 10 years</option>
				<option value="Custom range">Custom range</option>
			</select>
		</div>
	</form>

	<div class="results-members__list">
		<p class="lede lede--results">16 MPs or Lords have contributed in Parliament around this issue:</p>
		
		<div class="card" data-house="commons" >
			<img src="http://placehold.it/150x150" alt="" class="card__profile">
			<div class="card__details">
				<h2 class="card__title">
					<a href="#" >Name</a>
				</h2>
				<p>142 contributions</p>
				<ul>
					<li>Member of 1 related commitee</li>
					<li>23 questions tabled</li>
					<li>Spoken in 14 debates</li>		
				</ul>
				<a href="#" >See all activity</a>
			</div>
		</div>

		<div class="card" data-house="lords" >
			<img src="http://placehold.it/150x150" alt="" class="card__profile">
			<div class="card__details">
				<h2 class="card__title">
					<a href="#" >Name</a>
				</h2>
				<p>142 contributions</p>
				<ul>
					<li>Member of 1 related commitee</li>
					<li>23 questions tabled</li>
					<li>Spoken in 14 debates</li>		
				</ul>
				<a href="#" >See all activity</a>
			</div>
		</div>

	</div>
</div>
