<div class="header-block">
	<h1 class="section-title"><a href="#" class="section-title__link" >Topics</a></h1>
	<h2 class="sub-section-title">Housing supply</h2>
</div>

<div class="category-definition">
	<h3 class="category-definition__title"><a href="#">MPs and Lords</a></h3>
	<div class="category-definition__description">
		<p>What have they said and done about this topic in Parliament?</p>
	</div>
</div>

<div class="category-definition">
	<h3 class="category-definition__title"><a href="#">MPs and Lords</a></h3>
	<div class="category-definition__description">
		<p>What have they said and done about this topic in Parliament?</p>
	</div>
</div>

<div class="category-definition">
	<h3 class="category-definition__title"><a href="#">Debates</a></h3>
	<div class="category-definition__description">
		<p>Upcoming and previous debates on this topic.</p>
	</div>
</div>

<div class="category-definition">
	<h3 class="category-definition__title"><a href="#">Committees</a></h3>
	<div class="category-definition__description">
		<p>Committee work on this topic.</p>
	</div>
</div>

<div class="category-definition">
	<h3 class="category-definition__title"><a href="#">Votes</a></h3>
	<div class="category-definition__description">
		<p>Votes and proceedings on this topic.</p>
	</div>
</div>

<div class="category-definition">
	<h3 class="category-definition__title"><a href="#">Statements</a></h3>
	<div class="category-definition__description">
		<p>What has the Government announced?</p>
	</div>
</div>

<div class="category-definition">
	<h3 class="category-definition__title"><a href="#">Questions</a></h3>
	<div class="category-definition__description">
		<p>What has the Government been asked by MPs and Lords?</p>
	</div>
</div>

<div class="category-definition">
	<h3 class="category-definition__title"><a href="#">Bills and legislation</a></h3>
	<div class="category-definition__description">
		<p>Proposed and agreed changes to the law on this topic. </p>
	</div>
</div>

<div class="category-definition">
	<h3 class="category-definition__title"><a href="#">Research and reports</a></h3>
	<div class="category-definition__description">
		<p>Analysis and research published by Parliament. </p>
	</div>
</div>

<div class="category-group">
	<h3 class="category-group__title">Other Parliamentary activity</h3>
	<ul class="category-group__list">
		<li class="category-group__list-item"><a href="#" class="category-group__link">Early day motions</a></li>
		<li class="category-group__list-item"><a href="#">All Party Parliamentary Groups</a></li>
	</ul>
</div>

<div class="category-group">
	<h3 class="category-group__title">Governmanet departments</h3>
	<a href="#">Department for Communities and Local Government</a>
</div>

