<div class="header-block">
	<div class="wrapper">
		<h1 class="section-title"><a href="#" class="section-title__link" >Topics</a></h1>
		<h2 class="sub-section-title">Housing supply</h2>
		<h3 class="">Latest</h3>
		<div class="fb-container-row">
			<div class="topic-item">
				<h4>Research and reports</h4>
				<p class="topic-item__title"><a href="#" >Stimulating housing supply – Government initiatives (England)</a></p>
				<p class="topic-item__date">15 June 2016</p>
			</div>
			<div class="topic-item">
				<h4>Question</h4>
				<p class="topic-item__title"><a href="#" >Right to Buy: Low-cost Housing</a></p>
				<p class="topic-item__person">Asked <a href="#" >Hannah Bardell MP</a></p>
				<p class="topic-item__date">6 June 2016</p>
			</div>
			<div class="topic-item">
				<h4>Question</h4>
				<p class="topic-item__title"><a href="#" >Affordable Housing</a></p>
				<p class="topic-item__person">Asked <a href="#" >Ruth Cadbury MP</a></p>
				<p class="topic-item__date">6 June 2016</p>
			</div>
		</div>
	</div>
</div>
<div class="mid-block">
	<div class="wrapper">
	<h3 class="no-margin-top">Upcoming</h3>
		<div class="fb-container-row">
			<div class="topic-item">
				<h4>Bills and legislation</h4>
				<p class="topic-item__title"><a href="#" >Neighbourhood Planning Bill</a></p>
				<p class="topic-item__location">2nd reading: House of Commons</p>
				<p class="topic-item__date">2.30pm - 10 October 2016</p>
			</div>
			<div class="topic-item">
				<h4>Debate</h4>
				<p class="topic-item__title"><a href="#" >Housing: affordability</a></p>
				<p class="topic-item__date">11 October 2016</p>
			</div>
			<div class="topic-item">
				<h4>Questions</h4>
				<p class="topic-item__department">Answered by the Department for Communities and Local Government</p>
				<p class="topic-item__date">2.30pm - 24 October 2016</p>
			</div>
		</div>
	</div>
</div>


<div class="wrapper">
	<div class="topic-links fb-container-row">
		<div class="category-definition">
			<h3 class="category-definition__title"><a href="#">MPs and Lords</a></h3>
			<div class="category-definition__description">
				<p>What have they said and done about this topic in Parliament?</p>
			</div>
		</div>

		<div class="category-definition">
			<h3 class="category-definition__title"><a href="#">Bills and legislation</a></h3>
			<div class="category-definition__description">
				<p>Proposed and agreed changes to the law. </p>
			</div>
		</div>

		<div class="category-definition">
			<h3 class="category-definition__title"><a href="#">Statements</a></h3>
			<div class="category-definition__description">
				<p>What has the Government announced?</p>
			</div>
		</div>

		<div class="category-definition">
			<h3 class="category-definition__title"><a href="#">Questions</a></h3>
			<div class="category-definition__description">
				<p>What has the Government been asked by MPS and Lords?</p>
			</div>
		</div>

		<div class="category-definition">
			<h3 class="category-definition__title"><a href="#">Research and reports</a></h3>
			<div class="category-definition__description">
				<p>Analysis and research published by Parliament. </p>
			</div>
		</div>

		<div class="category-definition">
			<h3 class="category-definition__title"><a href="#">Debates</a></h3>
			<div class="category-definition__description">
				<p>Upcoming and past debates.</p>
			</div>
		</div>

		<div class="category-definition">
			<h3 class="category-definition__title"><a href="#">Votes</a></h3>
			<div class="category-definition__description">
				<p>Results of how MPs and Lords have voted.</p>
			</div>
		</div>

		<div class="category-definition">
			<h3 class="category-definition__title"><a href="#">Committees</a></h3>
			<div class="category-definition__description">
				<p>Committee work on this topic.</p>
			</div>
		</div>


		<div class="category-group">
			<h3 class="category-group__title">Other Parliamentary activity</h3>
			<ul class="category-group__list">
				<li class="category-group__list-item"><a href="#" class="category-group__link">Early day motions</a></li>
				<li class="category-group__list-item"><a href="#">All Party Parliamentary Groups</a></li>
			</ul>
		</div>

		<div class="category-group">
			<h3 class="category-group__title">Government departments</h3>
			<a href="#">Department for Communities and Local Government</a>
		</div>
	</div>

</div>
