
// TODO: abstract these
$blue: #4272a0;
$blue-darker: #205282;
$blue-bright: #498FE1;
$purple: #6e6095;
$yellow: yellow;

$yellow-light: #fee37c;

$grey100: #333333;
$grey80: #5c5c5c;
$grey75: #666666;
$grey60: #858585;
$grey40: #adadad;
$grey20: #d6d6d6;
$grey05: #f5f5f5;

$white: #ffffff;
$black: #000000;
