<!-- 	<p class="section"><a href="#" class="section" >Issues</a> / <a href="#" class="section" >Housing</a> / Groups</p> -->
<h1 class="section-title"><a href="#" class="section-title__link" >Housing</a></h1>
<h2 class="sub-section-title">Members</h2>


<ul class="tabs">
	<li class="tab"><a href="people" class="tab__button" style="color:#fff">Individuals</a></li><li class="tab"><a href="" class="tab__button tab__button--active">Groups</a></li>
</ul>

<h3 class="h2">Members of groups related to 'housing'</h3>


	<div>

			
		<h4 class="h3">Committees</h4>

		<div class="groups">
			<h5 class="h4">
				<a href="#" >Communities and Local Government Committee</a>
			</h5>
			<div class="groups-members">
				<span class="groups-role__title">Chairman:</span>
				<ul class="groups-role__members">
					<li><a href="#" >Tom Jones MP</a></li>
				</ul>
			</div>
			<div class="groups-members">
				<span class="groups-role__title">Members:</span>
				<ul class="two-column groups-role__members">
					<li><a href="#" >Jane Apple MP</a></li>
					<li><a href="#" >Lord Strawberry</a></li>
					<li><a href="#" >Baroness Grape</a></li>
					<li><a href="#" >Ian Pear MP</a></li>
					<li><a href="#" >Catherine Berry MP</a></li>
					<li><a href="#" >Graham Peach MP</a></li>
					<li><a href="#" >Baroness Elderflower</a></li>
					<li><a href="#" >Nick Apricot MP</a></li>
					<li><a href="#" >Baroness Lychee</a></li>
					<li><a href="#" >Lord Melon</a></li>
				</ul>
			</div>
		</div>


	
	<h4 class="h3">Government and Party Roles</h4>

	<div class="groups">
		<h5 class="h4"><a href="#" >Her Majesty's Government</a></h5>
		<p><a href="#" >Sarah Davis MP</a><br />
		Secretary of State for Communities and Local Government</p>
		<p><a href="#" >Nick Smith MP</a><br />
		Minister of State for Housing and Planning</p>
	</div>
	<div class="groups">
		<h5 class="h4"><a href="#" >Her Majesty's Official Opposition</a></h5>

		<p><a href="#" >Jon Smith MP</a> <br />
		Shadow Secretary of State for Communities and Local Government</p>
	</div>
	<div class="groups">
		<h5 class="h4"><a href="#" >Scottish National Party Spokespersons</a></h5>

		<p><a href="#" >Jon Smith MP</a> <br />
		Shadow SNP Spokesperson (Cities)</p>
	</div>


	
	<h4 class="h3">All Party Parliamentary Groups</h4>

	<div class="groups">	
		<h5 class="groups__title h4">
			<a href="#" >Housing and Care for Older People</a>
		</h5>
		<p><a href="#" >Jon Smith MP</a> <br />
		Chair</p>
		<p><a href="#" >See all members</a></p>
	</div>

	<div class="groups">
		<h5 class="groups__title h4">
			<a href="#" >Housing and Planning</a>
		</h5>
		<p><a href="#" >Claire Miller MP</a> <br />
		Chair</p>

		<p><a href="#" >See all members</a></p>
	</div>

	<div class="groups">
		<h5 class="groups__title h4">
			<a href="#" >Housing in the North</a>
		</h5>
		<p><a href="#" >Lisa Apple MP</a> <br />
		Chair</p>		
		<p><a href="#" >See all members</a></p>
	</div>




	</div>
</div>
