<div class="intro">
	<h1 class="intro__title">Railway Safety Levy Order 2016</h1>
	<p class="intro__description">The Railway Safety Levy Order 2016 raises a charge against train operating companies to make provision for safety improvements.</p>
	<a class="intro__documents" href="#">View draft and associated documents </a><span>(external link)</span>
	<h4 class="intro-type__title">Type of legislation:</h4>
	<a class="intro-type__details" href="#">Negative Statutory Instrument</a>
</div>

<div class="si-status">
	<h1 class="si-status__title">Status</h1>
	<p>The statutory instrument has been laid and is awaiting consideration by the <a href="#">Joint Committee on Statutory Instruments</a>.</p>

	<h4>Comes into force:</h4>
	<p>21 September 2016</p>

	<h4>Objections can be made until:</h4>
	<p>13 October 2016</p>
</div>

<div class="timeline">
	<div class="timeline-past-events">
		<h2 class="timeline__title">Timeline</h2>
		<div class="events">
			<ul class="past-events">
				<li class="timeline-event">
					<p class="timeline-event__date">13 July 2016</p>
					<h3 class="timeline-event__title">ABC</h3>
					<p class="timeline-event__house">House of Commons and House of Lords</p>
					<p class="timeline-event__status">
						Status: <a class="timeline-event-report__link" href="#">Report published</a>
					</p>
					<p class="timeline-event__alert">Drawn to the attention of the House.</p>
				</li>
			</ul>
		</div>
	</div>

	<div class="future-events-outcome">
		<h2 class="future-events__title">What's happening next?</h2>
			<ul class="future-events">
				<li class="timeline-event">
					<p class="timeline-event__date">Awaiting date</p>
					<h4 class="timeline-event__title">ABC</h4>
					<p class="timeline-event__house">House of Commons and House of Lords</p>
					<p class="timeline-event__status">
						Status: <a class="timeline-event-report__link" href="#">Report published</a>
					</p>
					<p class="timeline-event__alert">Drawn to the attention of the House.</p>
				</li>
			</ul>
		<div class="event-outcome">
			<h1 class="event-outcome__enforcement-date">
				Due to come into force on 21 September 2016
			</h1>
			<p class="event-outcome__annullment-date">
				Either house has until <strong>13 October 2016</strong> to annul it.
			</p>
		</div>
	</div>
</div>

<div class="associated-links">
	<h3 class="associated-links__act">Enabling act:</h3>
	<a class="associated-links__link" href="#">Railways Act 2008</a>
	
	<h3 class="further-links__title">Further links:</h3>
	<ul class="further-links__list">
		<li class="further-links__item">
			<a class="further-links__link" href="#">Railway safety levy consulation report</a>
		</li>
		<li>
			<a class="further-links__link" href="#">Commons Library Analysis: UK Fifth Carbon Budget</a>
		</li>
	</ul>
</div>
<a class="subscribe-button" href="#">Subscribe to this calendar</a>




