<div class="intro">
	<h1 class="intro__title">Railway Safety Levy Order 2016</h1>

	<p class="intro__description">The Railway Safety Levy Order 2016 raises a charge against train operating companies to make provision for safety improvements.</p>

	<span class="intro__documents">
		<p><a href="#">View draft and associated documents </a>(external link)</p>
	</span>

	<h3 class="intro__type">Type of legislation:</h3>
	<p class="intro__type-details"><a href="#">Negative Statutory Instrument</a></p>
</div>

<div>
	<h1>Status</h1>
	<p>The statutory instrument has been laid and is awaiting consideration by the <a href="#">Joint Committee on Statutory Instruments</a>.</p>

	<h3>Comes into force:</h3>
	<p>21 September 2016</p>

	<h3>Objections can be made until:</h3>
	<p>13 October 2016</p>
</div>
</main>

<div class="timeline-past-events">
	<div class="timeline">
		<h2 class="timeline__title">Timeline</h2>
		<div class="events">
			<ul class="past-events">
				<li class="timeline-event">
					<p class="timeline-event__date">13 July 2016</p>
					<h3 class="timeline-event__title">ABC</h3>
					<p class="timeline-event__house">House of Commons and House of Lords</p>
					<p class="timeline-event__status">
						Status: <a class="timeline-event-report__link" href="#">Report published</a>
					</p>
					<p class="timeline-event__alert">Drawn to the attention of the House.</p>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="future-events-outcome">
	<h2 class="future-events__title">What's happening next?</h2>
		<ul class="future-events">
			<li class="timeline-event">
				<p class="timeline-event__date">Awaiting date</p>
				<h3 class="timeline-event__title">ABC</h3>
				<p class="timeline-event__house">House of Commons and House of Lords</p>
				<p class="timeline-event__status">
					Status: <a class="timeline-event-report__link" href="#">Report published</a>
				</p>
				<p class="timeline-event__alert">Drawn to the attention of the House.</p>
			</li>
		</ul>
	<div class="event-outcome">
		<h1 class="event-outcome__enforcement-date">
			Due to come into force on 21 September 2016
		</h1>
		<p class="event-outcome__annullment-date">
			Either house has until <strong>13 October 2016</strong> to annul it.
		</p>
	</div>
</div>

<main id="content">
	<div class="associated-links">
		<h3 class="associated-links__act">Enabling act:</h3>
		<a class="associated-links__link" href="#">Railways Act 2008</a>
		
		<h3 class="further-links__title">Further links:</h3>
		<ul class="further-links__list">
			<li class="further-links__item">
				<a class="further-links__link" href="#">Railway safety levy consulation report</a>
			</li>
			<li>
				<a class="further-links__link" href="#">Commons Library Analysis: UK Fifth Carbon Budget</a>
			</li>
		</ul>
	</div>
	<a class="subscribe-button" href="#">Subscribe to this calendar</a>




