<div>
	<h1>Railway Safety Levy Order 2016</h1>

	<p>The Railway Safety Levy Order 2016 raises a charge against train operating companies to make provision for safety improvements.</p>

	<span>
		<p><a href="#">View draft and associated documents </a>(external link)</p>
	</span>

	<h3>Type of legislation:</h3>
	<p><a href="#">Negative Statutory Instrument</a></p>
</div>

<div>
	<h1>Status</h1>
	<p>The statutory instrument has been laid and is awaiting consideration by the <a href="#">Joint Committee on Statutory Instruments</a>.</p>

	<h3>Comes into force:</h3>
	<p>21 September 2016</p>

	<h3>Objections can be made until:</h3>
	<p>13 October 2016</p>
</div>

