<div>
	<h1>Railway Safety Levy Order 2016</h1>

	<p>The Railway Safety Levy Order 2016 raises a charge against train operating companies to make provision for safety improvements.</p>

	<span>
		<p><a href="#">View draft and associated documents </a>(external link)</p>
	</span>

	<h3>Type of legislation:</h3>
	<p><a href="#">Negative Statutory Instrument</a></p>
</div>

<div>
	<h1>Status</h1>
	<p>The statutory instrument has been laid and is awaiting consideration by the <a href="#">Joint Committee on Statutory Instruments</a>.</p>

	<h3>Comes into force:</h3>
	<p>21 September 2016</p>

	<h3>Objections can be made until:</h3>
	<p>13 October 2016</p>
</div>

<div class="timeline">
	<h2 class="timeline__title">Timeline</h2>
	<div class="events">
		<ul class="past-events">
			<li class="event">
				<p class="event__date">13 July 2016</p>
				<h3 class="event__title">ABC</h3>
				<p class="event__house">House of Commons and House of Lords</p>
				<p class="event__status">
					Status: <a class="event-report__link" href="#">Report published</a>
				</p>
				<p class="event__alert">Drawn to the attention of the House.</p>
			</li>
		</ul>
		<ul class="future-events">
			<li class="event">
				<p class="event__date">Awaiting date</p>
				<h3 class="event__title">ABC</h3>
				<p class="event__house">House of Commons and House of Lords</p>
				<p class="event__status">
					Status: <a class="event-report__link" href="#">Report published</a>
				</p>
				<p class="event__alert">Drawn to the attention of the House.</p>
			</li>
		</ul>
	</div>
	<div class="event-outcome">
		<h1 class="event-outcome__enforcement-date">
			Due to come into force on 21 September 2016
		</h1>
		<p class="event-outcome__annullment-date">
			Either house has until <strong>13 October 2016</strong> to annul it.
		</p>
	</div>
</div>
<div class="associated-links">
	<ul class="associated-links-list">
		<li class="associated-links__item">
			<h3 class="associated-links__title">Enabling act:</h3>
			<a class="associated-links__link" href="#">Railways Act 2008</a>
		</li>
		<li>
			<h3 class="associated-links__title">Consultation report:</h3>
			<a class="associated-links__link" href="#">Railway safety levy consulation report</a>
		</li>
	</ul>
</div>
<a class="subscribe__button" href="#">Subscribe to this calendar</a>




