.results-interests {
	border-bottom: 2px solid $grey20;
	margin-bottom: 3rem;
	padding-bottom: 1rem;
}

.results-filters {
	
	@include media(tablet){
		.two-column {
			columns: 1;
		}
	}
}

.results-filters {
	background-color: $grey05;
	padding: 1rem;

	@include media(tablet){
		float: right;
		width: 250px;
		margin-left: 2rem;
	}
}

.results-members {
	@extend %contain-floats;
}

.results-members__list {
	@include media(tablet){
		float: left;
		width: calc(100% - 2rem - 250px);
	}
}

.results-filters__group-title {
	@extend h3;
	margin-top: 0;
}

.results-filters__title {
	@extend h4;
	margin-bottom: 0.5rem;
}

.sort-cards {
	margin-bottom: 2rem;
}

.sort-cards__label {
	display: block;
}


.card:first-of-type {
	// border-top: 2px solid $grey20;
	// padding-top: 2rem;
	// margin-top: 2rem;
}

.card {
	@extend %contain-floats;
	border: 2px solid $grey20;
	padding: 1rem;
	margin-bottom: 2rem;
}

.card__details {
	overflow: hidden;
}

.card__profile {
	max-width: 100px;
	float: left;
	margin: 0 1rem 1rem 0;
	
	@include media(tablet){
		float: none;
	}

	@media (min-width: 730px){ 
		float: left;
	}

	@media (min-width: 830px){ 
		max-width: 120px;
	}
}

.card__title {
	@extend h4;
	margin-top: 0;
}

.lede--results {
	margin-bottom: 2rem;

	@include media(tablet){
		margin-top: 0;
	}
}

.search-input {
	width: calc(80% - 102px);
}

.search-submit {
	@extend .button;
	padding: 0.5rem 1rem;
}

.terms-lists {
	@extend %grid-row;
}

.terms-list {
	@include grid-column(1 / 2);
}

.issues-search {
	margin-top: 2rem;
}

.terms-list__title {
	@include media(tablet){
		max-width: 300px;
	}
}

.contribution {
// 	background	padding: 0.5rem;	
// -color: $grey05;
	font-size:1.125rem;
	// font-weight: 700;
}

// .contribution::before {
// 	content: "";
// 	background: url("/assets/contribution-temp.svg");
// 	background-repeat: no-repeat;
// 	display: inline-block;
// 	width: 1.2rem;
// 	height: 1.2rem;
// 	margin-right: 0.5rem;
// 	vertical-align: middle;
// 	opacity: 0.5;
// }

