.results-interests {
	border-bottom: 4px solid $grey20;
	margin-bottom: 2rem;
}

.results-filters {
	
	@include media(tablet){
		.two-column {
			columns: 1;
		}
	}
}


.results-filters {
	border: 1px solid $grey20;
	padding: 1rem;

	@include media(tablet){
		float: right;
		width: 250px;
		margin-left: 2rem;
	}
}

.results-members {
	@extend %contain-floats;
}

.results-members__list {
	@include media(tablet){
		float: left;
		width: calc(100% - 2rem - 250px);
	}
}

.results-filters__group-title {
	@extend h3;
	margin-top: 0;
}

.results-filters__title {
	@extend h4;
	margin-bottom: 0.5rem;
}

.card {
	@extend %contain-floats;
	border: 4px solid $grey20;
	padding: 1rem;
	margin-bottom: 1rem;

}

.card__details {
	overflow: hidden;
}

.card__profile {
	max-width: 100px;
	float: left;
	margin-right: 1rem;
	
	@include media(tablet){
		float: none;
	}

	@media (min-width: 730px){ 
		float: left;
	}
}

.card__title {
	@extend h4;
	margin-top: 0;
}

.lede--results {
	@include media(tablet){
		margin-top: 0;
	}
}

