.event-outcome {
	border: 3px solid $grey60;
	padding: 15px;

	.event-outcome__enforcement-date {
		font-size: 2rem;
		margin-top: 0;
	}

	.event-outcome__annullment-date, a {
		@extend .lede;
	}
}

.associated-links {
	h3 {
		margin-bottom: 0;
		font-size: 1.25rem;
	}
}

.subscribe-button {
	color: $white;
	background-color: $blue-bright;
	padding: 5px 10px;
	font-weight: bold;
}

