.subscribe-button {
	color: $white;
	background-color: $blue-bright;
	padding: 5px 10px;
	font-weight: bold;
}

.event__alert {
	background-color: #FEE176;
}

.past-events {
	margin: 0;
	padding: 0 0 16px;
	background-color: #E7E7E7;
}

.future-events {
	margin: 0;
	padding: 15px 0 16px;
	background-color: #F2F2F2;
}