.sg-menu {

  @include media(tablet){
    @include grid-column(1 / 4);
    padding: 0;
    width: 250px;
    margin-right: 4rem;
  }
}

.sg-container {

  @include media(tablet){
    overflow: hidden;
    margin-left: 2rem;
  }
}

.sg-pattern {
  margin-top: 4rem;
}

.sg-pattern__title {
  @extend .milli;
  border-bottom: 1px solid $grey100;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

.sg-nav__item {
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
}

.sg-nav__item {
  padding-left: 14px;
}

.sg-nav__link::before {
  content: "";
  margin-left: -14px;
  padding-left: 8px;
  border-left: 6px solid $grey20;
}

.sg-nav__link:hover, 
.sg-nav__link:active, 
.sg-nav__link:visited {
  color: $grey100;
}

.sg-nav__link.active::before {
  border-color: $grey80;
}
