
// Temp settings for issues prototype
// TODO everything! 
// TODO rem to px fallback

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  @include media(tablet){
    font-size: 16px;
    line-height: 1.5;
  }
}

body {
  text-rendering: optimizeLegibility;
}

p {
  -webkit-font-variant-ligatures: common-ligatures; /* for iOS and Safari 6 */
  font-variant-ligatures: common-ligatures; /* for up-to-date browsers, including IE10 and Opera 21 */
}

p,
.p {
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;
  font-size: 1rem;
}

ul, ol {
  margin: 1rem 0 1.5rem;
  padding: 0;
}

li {
  margin-left: 1.25rem;
  margin-bottom: 0.5rem;
}

h1,
.h1 {
  font-size: 2.625rem;
  margin: 2.5rem 0 1rem;
  line-height: 1.3;
}

h2,
.h2 {
  font-size: 2rem;
  margin: 2.5rem 0 1rem;
  line-height: 1.3;
}

h3,
.h3 {
  font-size: 1.625rem;
  margin: 2.25rem 0 1rem;
  line-height: 1.3;
}

h4,
.h4 {
  font-size: 1.313rem;
  margin: 2rem 0 1rem;
}

h5,
.h5 {
  font-size: 1.125rem;
  margin: 2rem 0 1rem;
}

h6,
.h6 {
  font-size: 1rem;
  margin: 2rem 0 1rem;
}

.lede {
  font-size: 1.25rem;
}

.milli {
  font-size: 0.875rem;
}

.subhead {
  margin-top: -1rem;
  font-weight: 400;
  color: $grey60;
}

.event__date {
  font-size: 2.625rem;
  font-weight: 700;
  display: block;
}

.event__heading {
  margin-top: 0;
}

.filter-title__sub {
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
}

.section-title {
  @extend h2;
  color: $grey60;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.section-title__link,
.section-title__link:hover,
.section-title__link:active,
.section-title__link:visited {
  color: $grey60;
  text-decoration: underline;
  font-size:1.313rem;
}

.section-title__link:hover {
  text-decoration: underline;
}

.sub-section-title {
  @extend h1;
  margin: 0 0 2.5rem 0;
}

.person-contribution__details {
  color: $grey80;
  font-size: 0.875rem;
}

