<h1 class="headline-short">Find an MP or Lord interested in an issue you care about</h1>

<form role="search" action="/issues/165/people" method="GET" accept-charset="UTF-8" class="issues-search">
	<input class="search-input" placeholder="Search for an issue, e.g. primary schools" id="edit-search" type="text" value="" maxlength="128">
	<input class="search-submit" type="submit" value="Search"  >
</form>

<p>If you have an  issue in your local area you should <a href="#" >contact your constituency MP</a>.</p>

<div class="terms-lists">
	<div class="terms-list">
		<h3 class="terms-list__title">Issues people are searching for</h3>
		<ol>
			<li><a href="#">Primary schools</a></li>
			<li><a href="#">Pensions</a></li>
			<li><a href="#">HS2</a></li>
			<li><a href="#">Mental health</a></li>
			<li><a href="#">NHS</a></li>
		</ol>
	</div>
	<div class="terms-list">
		<h3 class="terms-list__title">Issues being talked about in Parliament</h3>
		<ol>
			<li><a href="#">Finance</a></li>
			<li><a href="#">Children</a></li>
			<li><a href="#">Electoral register</a></li>
			<li><a href="#">Northern Ireland</a></li>
			<li><a href="#">Palestinians</a></li>
		</ol>
	</div>
</div>

