<h1>Search for MPs and Lords</h1>
<h2>Find your  MP</h2>
<p>If you have an  issue in your local area you should contact your constituency MP</p>
<form role="search" class="" action="/search" method="GET" accept-charset="UTF-8">
	<input class="" placeholder="Postcode, constituency or MP's name" id="edit-search" type="text" value="" maxlength="128">
	<input class="" type="submit" value="Search">
</form>


<h2>See who's doing what</h2>
<p>Find an MP or Lord interested in an issue you care about</p>

<form role="search" class="" action="/search" method="GET" accept-charset="UTF-8">
	<input class="" placeholder="Search for an issue, e.g. primary schools" id="edit-search" type="text" value="" maxlength="128">
	<input class="" type="submit" value="Search">
</form>
<h3>What people are searching for</h3>
<ol>
	<li>Primary schools</li>
	<li>Pensions</li>
	<li>HS2</li>
	<li>Mental health</li>
	<li>NHS</li>
</ol>
<h3>What's being talked about in Parliament</h3>
<ol>
	<li>Primary schools</li>
	<li>Pensions</li>
	<li>HS2</li>
	<li>Mental health</li>
	<li>NHS</li>
</ol>
