<div class="wrapper">
	<h1>New website alpha sprints</h1>
	<h2>Sprint 1</h2>
	<p>Understanding how to prototype a page that displays content on a single issue.</p>
	<h2>Sprint 2</h2>
	<p>Producing and iterating a prototype issue page.</p>
	<ul>
		<li><a href="https://hopuk.sharepoint.com/sites/PWR/_layouts/15/guestaccess.aspx?guestaccesstoken=BY4zyY8I87hjharloRkG6J8J5NkIJnigVoLy3683byA%3d&docid=2_0982a58a3c1fe40f8816de540bec0acfb&rev=1">Lessons learnt</a></li>
	</ul>
	<h2>Sprint 3</h2>
	<p>Producing a prototype service to find Members who are interested in a particular issue.</p>
	<ul>
		<li><a href="https://hopuk.sharepoint.com/sites/PWR/_layouts/15/guestaccess.aspx?guestaccesstoken=hMBMsllTVcNJhRUl8Kdey1chlw7KaX%2f7O6IlKps%2b3ks%3d&docid=2_07bbc5a9098af4274b689d3b99f9359f7&rev=1">Lessons learnt</a></li>
	</ul>
	<h2>Sprint 4</h2>
	<p>Testing, iterating and expanding the Members and issues prototype to include groupings of members.</p>
	<ul>
		<li><a href="https://hopuk.sharepoint.com/sites/PWR/_layouts/15/guestaccess.aspx?guestaccesstoken=bV7tGcLduUQtZJM0DUy9ydmVW9VvGZHekb6O3y6HsNw%3d&docid=2_0bcd6f7ac3e7a448ca4f909aa621ab250&rev=1">Show and Tell Slides</a></li>
		<li><a href="http://design-prototypes.ukpds.org/find_members">Prototype</a></li>
	</ul>
	<h2>Sprint 5</h2>
	<p>Exploring Statutory Instruments from a user and process perspective then creating a paper prototype for tracking a Statutory Instrument.</p> 
	<p>Making the data prototype machine readable.</p>
	<ul>
		<li><a href="https://hopuk.sharepoint.com/sites/PWR/_layouts/15/guestaccess.aspx?guestaccesstoken=cSwKYcnyfnCSBTrbK5rPmdE1SSoxmRbyfHC2oyuoh1w%3d&docid=2_06f0015a321844689b7d2332639747f98&rev=1">Show and Tell Slides</a></li>
	</ul>
	<h2>Sprint 6</h2>
	<p>Creating an HTML prototype to track a Statutory Instrument and conducting usability testing on this. Exploring using different coding languages and frameworks using continuous delivery pipeline.</p>
	<ul>
		<li><a href="https://hopuk.sharepoint.com/sites/PWR/_layouts/15/guestaccess.aspx?guestaccesstoken=YN8b6CLVlUBWkLurHNpDdLi5pgPoz9UTQRKesf8HWS8%3d&docid=2_0387f969959bc49d29f86c5d9e4f8dca2&rev=1">Lessons learnt</a></li>
		<li><a href="https://hopuk.sharepoint.com/sites/PWR/_layouts/15/guestaccess.aspx?guestaccesstoken=SJhRe%2fXXrMOstBGykv4Vi%2bgngBK0VnidRI9K3N%2bBW%2bU%3d&docid=2_01c384a49c2a1478a947b31c86a87f3b4&rev=1">Show and Tell Slides</a></li>
		<li><a href="http://design-prototypes.ukpds.org/issues/123/statutory_instruments">Prototype</a></li>
	</ul>
	<h2>Sprint 7</h2>
	<p>Collating all lessons learnt since the beginning of alpha.</p>
	<p>Undertaking preparatory research for future prototypes.</p>
	<ul>
		<li><a href="https://hopuk.sharepoint.com/sites/PWR/_layouts/15/guestaccess.aspx?guestaccesstoken=L7zPd8%2fkNf3qTAuF0onoS%2f3XfsGj8Zo7GZgBkZgx%2fuo%3d&docid=2_0a5ad78438dd74583b47a81942d88f599&rev=1">Lessons learnt User Testing</a></li>
		<li><a href="https://hopuk.sharepoint.com/sites/PWR/_layouts/15/guestaccess.aspx?guestaccesstoken=0g%2f67US0YS0FTHFpfH2aOrJkuMZyI6z8bPbR2X%2bJG7Q%3d&docid=2_0dd11753d945f45fbba8fb0bf8d233497&rev=1">Lessons learnt Product Approach</a></li>
		<li><a href="https://hopuk.sharepoint.com/sites/PWR/_layouts/15/guestaccess.aspx?guestaccesstoken=APr0WrSL0EJ7i7dqh89DGSf6JVXmvkgpjYJBBeBVLa4%3d&docid=2_0447061c5efdd4fabb269804a955b620c&rev=1">Lessons learnt Prototyping</a></li>
		<li><a href="https://hopuk.sharepoint.com/sites/PWR/_layouts/15/guestaccess.aspx?guestaccesstoken=bY1I%2fiU0TouiJWMsv4IzD6JALL%2bXIz70jDOnFe1GeVo%3d&docid=2_026e969e2e9d244ac904551f1e9008a2d&rev=1">Show and Tell Slides</a></li>
	</ul>
	<h2>Sprint 8</h2>
	<p>Exploring the technical feasibility of presenting Parliamentary business by topics and exploring the user need to understand and consume business content by topics.</p>
	<ul>
		<li><a href="https://hopuk.sharepoint.com/sites/PWR/_layouts/15/guestaccess.aspx?guestaccesstoken=qQc2ozXsjdWkUkIYMnpeugoiq1sQzjATwH4yGlV29Zk%3d&docid=2_0c305fa660df949d9871b20cf6656dadf&rev=1">Show and Tell Slides</a></li>
	</ul>
	<h2>Sprint 9</h2>
	<p>Creating a prototype mobile first page that collates  Parliamentary business by topic then user testing this.</p>
	<ul>
		<li><a href="https://hopuk.sharepoint.com/sites/PWR/_layouts/15/guestaccess.aspx?guestaccesstoken=opSTAPnc7gMv3Xbcvv1SXmCD%2bOl%2bAxsdc7yeGT9nca8%3d&docid=2_08dd5d75ce0e34596bf6c35b9a6a114f1&rev=1">Lessons learnt</a></li>
		<li><a href="https://hopuk.sharepoint.com/sites/PWR/_layouts/15/guestaccess.aspx?guestaccesstoken=VRK0Qp720DrlVvFWv3a38LQA2dzClkAU9CcNixZBXdI%3d&docid=2_082918bdaa57e4c218cf90058d866776f&rev=1">Show and Tell Slides</a></li>
		<li><a href="https://marvelapp.com/h8121c/screen/14942501">Prototype Topics</a></li>
		<li><a href="http://design-prototypes.ukpds.org/topics/123">Prototype Topics Landing Page</a></li>
	</ul>
	<h2>Sprint 10</h2>
	<p>Iterating the topics prototype page. </p> 
	<p>Working on an API to surface data about Members for a service to search for and Contact Members.</p>
	<ul>
		<li><a href="https://hopuk.sharepoint.com/sites/PWR/_layouts/15/guestaccess.aspx?guestaccesstoken=FqqBNG0eTy1yu03M9YxvbkmbMdlbFsKp8lv4UZx9EaM%3d&docid=2_004fdee673c8a4853941b153ecb424b5c&rev=1">Show and Tell Slides</a></li>
	</ul>
	<h2>Sprint 11</h2>
	<p>Conducting user research for the Members service and understand the existing Members Names Information Service database</p>
	<p>Drafting a Roadmap for prioritising Parliament core-domain services </p> 
	<ul>
		<li><a href="https://hopuk.sharepoint.com/sites/PWR/_layouts/15/guestaccess.aspx?guestaccesstoken=m0JPoCR3wjpjsF%2b32f8SnJits4HuSWgbXfKM0t4NIKY%3d&docid=2_05d5d12f6b13d4fbaade8c3b437901f4c&rev=1">Show and Tell Slides</a></li>
	</ul>
	<h2>Sprint 12</h2>
	<p>Identifying key needs for a Members page​.</p>
	<p>Creating the foundation for our pattern library​.</p> 
	<p>Creating a draft roadmap to prioritise non-core domain services.</p>
	<ul>
		<li><a href="https://hopuk.sharepoint.com/sites/PWR/_layouts/15/guestaccess.aspx?guestaccesstoken=f6zuA2dkjNmJjS9sSXPknvCG4r0Wyt3sMauMuyCvPaw%3d&docid=2_0dcab6c776a384116b3e7a2e5e7f4e786&rev=1">Show and Tell Slides</a></li>
	</ul>
	<h2>Sprint 13</h2>
	<p>Create and test “Contact Member” prototype.</p>
	<p>Plan User Research for Member Biography.</p> 
	<p>Deliver data specification for Members.</p>
	<p>Build first iteration of the Pattern Library.</p>
	<ul>
		<li><a href="https://hopuk.sharepoint.com/sites/PWR/_layouts/15/WopiFrame.aspx?sourcedoc=%7Bdaf511ed-4f38-4922-ab68-e34c0dcb604a%7D&action=default">Show and Tell Slides</a></li>
		<li><a href="https://marvelapp.com/j657ac/screen/16260990">Lords "Contact Member" prototype</a></li>
		<li><a href="https://marvelapp.com/2hic980/screen/16260671">Commons "Contact Member" prototype</a></li>
	</ul>
	<h2>Style guide</h2>
	<ul>
		<li><a href="/styleguide">Visual style guide</a></li>
	</ul>
	<h2>Our blog</h2>
	<ul>
		<li><a href="https://pds.blog.parliament.uk/">Website alpha blog</a></li>
	</ul>
</div>
