<div class="wrapper">
	<h1>Website alpha links</h1>
	<h2>Our blog</h2>
	<ul>
		<li><a href="https://pds.blog.parliament.uk/">Website alpha blog</a></li>
	</ul>
	<h2>Static prototypes</h2>
	<p>Non data-driven prototypes.</p>
	<ul>
		<li><a href="/find_members">Search members by issues</a></li>
		<li><a href="/issues/123/statutory_instruments/">Climate Change: Statutory Instruments</a></li>
		<li><a href="https://marvelapp.com/h8121c/screen/14942501">Topics</a> <span class="milli">(external link)</span></li>
		<li><a href="/topics/123">Topics landing page</a></li>
	</ul>
	<h2>Style guide</h2>
	<ul>
		<li><a href="/styleguide">Visual style guide</a></li>
	</ul>
</div>
