<div class="wrapper">
	<!--
	<p class="section"><a href="#" class="section" >People</a> / <a href="#" class="section" >Claire Miller MP</a> / <a href="#" class="section" >Issues</a> / Housing</p>
	-->
	<h1>Ms Claire Miller MP</h1>
	<div class="grid-row">
		<div class="person-summary">
			<img class="person-summary__profile" alt="Claire Miller MP" src="<%= path_to_image('avatar.png') %>" />
			<div class="person-summary__container">
				<h2 class="person-summary__title">Constituency</h2>
				<p class="person-summary__details"><a href="#" >Woodstock</a></p>
				<h2 class="person-summary__title">Party</h2>
				<p class="person-summary__details"><a href="#" >Conservatives</a></p>
				<h2 class="person-summary__title">Contact</h2>
				<p class="person-summary__details"><a href="#">Email MP</a> <br /> 0123 456890</p>
		<!-- 	<h2 class="person-summary__title">Parliamentary address</h2>
				<p class="person-summary__details">10 Wood Lane, Woodstock, Oxfordshire, OX11 11A</p>
				<h2 class="person-summary__title">Constituency address</h2>
				<p class="person-summary__details">Houses of Parliament, Westminster, London SW1A 0AA</p>	
		 -->	
			</div>
	 	</div>
		<div class="person-activity">
			<p class="lede">Claire Miller's Parliamentary activity on the issue of 'housing' over the past&nbsp;year.</p>
	<!-- 		<p>47 contributions around 'housing' and listed as an interest in their <a href="#" >biography</a>.</p>
	 -->	
	 		<form>
	 			<label for="time" style="display: block" class="">Filter by time:</label>
				<select name="time" >
					<option value="Past week" disabled>Past week</option>
					<option value="Past month" disabled>Past month</option>
					<option value="Past 6 months" disabled>Past 6 months</option>
					<option value="Past year" selected="selected">Past year</option>
					<option value="Past 2 years" disabled>Past 2 years</option>
					<option value="Past 5 years" disabled>Past 5 years</option>
					<option value="Past 10 years" disabled>Past 10 years</option>
					<option value="Custom range" disabled>Custom range</option>
				</select>
			</form>

	 		<div class="person-activity__group">
		 		<h3>Private members' bills</h3>
		 		<p>Claire Miller has submitted 1 private members' bill</p>
		 		<div class="card">
			 		<h4 class="person-contribution__title p"><a href="#" >The Housing (insulation) Bill 2014-15</a></h4>
			 		<p class="person-contribution__details">Sponsored by: Claire Miller <br>
			 		Second Reading: 15 January 2015</p>
		 		</div>
	 		</div>

	 		 <div class="person-activity__group">
		 		<h3>Oral questions</h3>
		 		<p>Claire Miller has tabled 2 oral questions</p>
		 		<div class="card">
			 		<h4 class="person-contribution__title p"><a href="#" >What assessment he has made of the adequacy of Government investment in affordable housing.</a></h4>
			 		<p class="person-contribution__details">Asked on: 20 June 2016</p>
		 		</div>
		 		<div class="card">
			 		<h4 class="person-contribution__title p"><a href="#" >What is the minster doing to restrict the selling of houses to people from overseas.</a></h4>
			 		<p class="person-contribution__details">Asked on: 6 June 2016</p>
		 		</div>	 		
	 		</div>


	 		 <div class="person-activity__group">
		 		<h3>Written questions</h3>
		 		<p>Claire Miller has tabled 2 written questions</p>
		 		<div class="card">
			 		<h4 class="person-contribution__title p"><a href="#" >To ask the Secretary of State for Communities and Local Government, when he plans to bring forward regulations on the testing of electrical installations in rental properties.</a></h4>
			 		<p class="person-contribution__details">Asked on: 20 June 2016 <br>
			 		Answered: 28 June 2016</p>
		 		</div>
		 		<div class="card">
			 		<h4 class="person-contribution__title p"><a href="#" >To ask the Secretary of State for Communities and Local Government, when he plans to fund house building on the Isle of Wight.</a></h4>
			 		<p class="person-contribution__details">Asked on: 03 June 2016<br>
			 		Answered: 10 June 2016</p>		 		
		 		</div>
	 		</div>

	 		 <div class="person-activity__group">
		 		<h3>Debates</h3>
		 		<p>Claire Miller has spoken in 2  debates</p>
		 		<div class="card">
			 		<h4 class="person-contribution__title p"><a href="#" >Affordable Housing: London</a></h4>
			 		<p class="person-contribution__details">14 June 2016 | Westminster Hall</p>
		 		</div>
		 		<div class="card">
			 		<h4 class="person-contribution__title p"><a href="#" >Affordable Housing</a></h4>
			 		<p class="person-contribution__details">14 June 2016 | Commons Chamber</p>
		 		</div>
	 		</div>

	 		<div class="person-activity__group">
		 		<h3>Early Day Motions</h3>
		 		<p>Claire Miller has sponsored 2 Early Day Motions</p>
		 		<div class="card">
			 		<h4 class="person-contribution__title p"><a href="#" >Land registry privatisation</a></h4>
			 		<p class="person-contribution__details">Tabled on 7 June 2016</p>
		 		</div>
		 		<div class="card">
			 		<h4 class="person-contribution__title p"><a href="#" >All-party parliamentary group on healthy homes and buildings</a></h4>
			 		<p class="person-contribution__details">Tabled on 18 May 2016</p>
		 		</div>
	 		</div>


		</div>
	</div>
</div>
