<p class="section">Member / Issues / Housing</p>
<h1>Ms Claire Miller MP</h1>
<div class="grid-row">
	<div class="person-summary">
		<img class="person-summary__profile" alt="Claire Miller MP" src="<%= path_to_image('avatar.png') %>" />
		<h2 class="person-summary__title">Constituency</h2>
		<p class="person-summary__details">Woodstock</p>
		<h2 class="person-summary__title">Party</h2>
		<p class="person-summary__details">Conservatives</p>
		<h2 class="person-summary__title">Email</h2>
		<p class="person-summary__details">12345689@gmail.com</p>
		<h2 class="person-summary__title">Telephone</h2>
		<p class="person-summary__details">0123 45689</p>				
<!-- 	<h2 class="person-summary__title">Parliamentary address</h2>
		<p class="person-summary__details">10 Wood Lane, Woodstock, Oxfordshire, OX11 11A</p>
		<h2 class="person-summary__title">Constituency address</h2>
		<p class="person-summary__details">Houses of Parliament, Westminster, London SW1A 0AA</p>	
 -->	
 	</div>
	<div class="person-activity">
		<p class="lede">Parliamentary activity on the issue of 'housing' over the <a href="#" >past year</a>.</p>
<!-- 		<p>47 contributions around 'housing' and listed as an interest in their <a href="#" >biography</a>.</p>
 -->	
 		<div class="person-activity__group">
	 		<h3>Private members' bills</h3>
	 		<p>Claire Miller has submitted 1 private members' bill</p>
	 		<div class="card">
		 		<h4 class="person-contribution__title"><a href="#" >Household Safety (Carbon Monoxide Detectors) Bill</a></h4>
	 		</div>
 		</div>

 		 <div class="person-activity__group">
	 		<h3>Oral questions</h3>
	 		<p>Claire Miller has tabled 1 oral questions</p>
	 		<div class="card">
		 		<h4 class="person-contribution__title"><a href="#" >What steps he is taking to improve the standard of housing for service personnel.</a></h4>
		 		<p>Oral Questions to the Secretary of State for Defence.</p>
	 		</div>
 		</div>


 		 <div class="person-activity__group">
	 		<h3>Written questions</h3>
	 		<p>Claire Miller has tabled 3 written questions</p>
	 		<div class="card">
		 		<h4 class="person-contribution__title"><a href="#" >To ask Mr Chancellor of the Exchequer, if he will make an estimate of the effect on the public purse of the effects on the life chances of residents of the services and support provided through supported housing; and if he will make a statement.</a></h4>
		 		<p>Notice given on Monday 13 June.</p>
	 		</div>
	 		<div class="card">
		 		<h4 class="person-contribution__title"><a href="#" >To ask the Secretary of State for Communities and Local Government, what requirements his Department places on local authorities to demonstrate that their Local Plans will meet identified national house-building need.</a></h4>
		 		<p>Notice given on Monday 13 June.</p>
	 		</div>
 		</div>

 		 <div class="person-activity__group">
	 		<h3>Debates</h3>
	 		<p>Claire Miller has spoken in 6 debates</p>
	 		<div class="card">
		 		<h4 class="person-contribution__title"><a href="#" >Affordable Housing: London</a></h4>
		 		<p>14 June 2016 | Westminster Hall</p>
	 		</div>
	 		<div class="card">
		 		<h4 class="person-contribution__title"><a href="#" >Affordable Housing</a></h4>
		 		<p>14 June 2016 | Commons Chamber</p>
	 		</div>
 		</div>

 		<div class="person-activity__group">
	 		<h3>Early Day Motions</h3>
	 		<p>Claire Miller has sponsored 2 Early Day Motions</p>
	 		<div class="card">
		 		<h4 class="person-contribution__title"><a href="#" >Land registry privatisation</a></h4>
		 		<p>Tabled on 7 June 2016</p>
	 		</div>
	 		<div class="card">
		 		<h4 class="person-contribution__title"><a href="#" >All-party parliamentary group on healthy homes and buildings</a></h4>
		 		<p>Tabled on 18 May 2016</p>
	 		</div>
 		</div>


	</div>
</div>

