<div class="wrapper">
	<h1 class="h2">Sorry there are no results for ‘right to buy’. </h1>
	<p >Try <a href="find_members" >searching again</a> with a more general term or <a href="#" >browse all available issues</a>.</p>
</div>